* {
    box-sizing: border-box;
}

body {
    font-family: 'Georgia', serif;
    font-size: 20px;
    color: #333333;
}

h1 {
    font-size: 36px;
    font-weight: bold;
}

.summary {
    font-size: 24px;
    line-height: 1.35;
    margin: 0px auto 15px;
    max-width: 600px;
}

.date, .byline, .caption {
    font-family: 'Libre Franklin', sans-serif;
}

.date, .byline {
    font-size: 16px;
}

.caption {
    font-size: 14px;
    color: #666666;
    margin: -10px 40px 20px;
}

a {
    color: #ce5353;
}

p.story-body-paragraph, .story-body-inner {
    line-height: 1.6;
    margin: 0px auto 20px;
    max-width: 600px;
}

ul.share-tools {
    list-style: none;
    padding-left: 0px;
}

ul.share-tools > li {
    display: inline;
}

header {
    text-align: center;
    padding-top: 40px;
}

.date {
    margin-bottom: 16px;
}

.byline {
    margin-bottom: 11px; 
}

figure.story-photo {
    margin: 0 auto;
    max-width: 560px;
}

img.ada-picture {
    text-align: center;
    max-width: 100%;
    display: inline;
}